In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Electric_util.csv')
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
df.shape

(29523, 11)

In [4]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [5]:
#join two lists
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
df.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned'].sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

- Gas has the lowest average fuel per unit burned

In [8]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
df.describe()['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [10]:
df['fuel_qty_burned'].skew()

15.851495469109503

In [11]:
df['fuel_qty_burned'].kurtosis()

651.3694501337732

In [12]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
df.isnull().sum()/ df.shape[0]

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64



- Missing Feature: fuel_unit, 
- Total Missing Values: 180, 
- Percent Missing Values: 0.610

In [14]:
df.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [15]:
df.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [16]:

x = df.groupby(['fuel_type_code_pudl', 'report_year']).mean()
x

                                 utility_id_ferc1  fuel_qty_burned  \
fuel_type_code_pudl report_year
coal                1994               106.168421     1.509912e+06
                    1995               107.854737     2.647153e+06
                    1996               106.078886     1.621465e+06
                    1997               106.124700     1.958999e+06
                    1998               107.663573     2.084013e+06
...                                           ...              ...
waste               2014               157.777778     2.004032e+05
                    2015               157.611111     2.076373e+05
                    2016               149.823529     2.224943e+05
                    2017               145.533333     2.356153e+05
                    2018               142.312500     2.060233e+05

                                 fuel_mmbtu_per_unit  \
fuel_type_code_pudl report_year
coal                1994                   21.670377
                    1995                   21.604251
                    1996                   21.507838
                    1997                   21.582963
                    1998                   21.375364
...                                              ...
waste               2014                    0.484179
                    2015                    0.485471
                    2016                    0.519342
                    2017                    0.579088
                    2018                    0.543370

                                 fuel_cost_per_unit_burned  \
fuel_type_code_pudl report_year
coal                1994                         31.546467
                    1995                         30.677442
                    1996                         29.454299
                    1997                        104.897309
                    1998                         27.616234
...                                                    ...
waste               2014                         32.866333
                    2015                         34.959444
                    2016                         31.710529
                    2017                         30.138600
                    2018                         41.310750

                                 fuel_cost_per_unit_delivered  \
fuel_type_code_pudl report_year
coal                1994                           124.663939
                    1995                            28.850834
                    1996                            28.045432
                    1997                            27.119043
                    1998                           716.015659
...                                                       ...
waste               2014                            30.294056
                    2015                            32.854444
                    2016                            29.661471
                    2017                            27.854533
                    2018                            32.171813

                                 fuel_cost_per_mmbtu
fuel_type_code_pudl report_year
coal                1994                    1.436099
                    1995                    1.397351
                    1996                    1.349366
                    1997                    1.322989
                    1998                    1.292496
...                                              ...
waste               2014                   19.101611
                    2015                   21.734111
                    2016                   25.270529
                    2017                23954.116867
                    2018                   19.699562

[148 rows x 6 columns]

In [17]:
cost_94 = 31.546467
cost_98 = 27.616234
((cost_98 -cost_94) / cost_94 * 100)

-12.458552014715313

In [18]:

m = df['fuel_cost_per_unit_delivered'].max()

df[df['fuel_cost_per_unit_delivered'] == m]['report_year']

3564    1997
Name: report_year, dtype: int64